@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-green: #28A745;
  --color-hoverGreen: #1E7E34;
  --color-hoverBlack: #141414;
  --color-red: #DC3545;
  --color-hoverRed: #A71D2A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
